<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no,email=no,address=no">
    <meta name="apple-mobile-web-app-title" content="Research Data Platform">
    <meta name="robots" content="noindex">
    <meta name="title" content="국가 연구데이터 플랫폼">
    <meta name="keywords" content="국가 연구데이터 플랫폼">
    <meta name="description" content="사이트 설명">
    <meta name="copyright" content="Copyright@2019  DataON. All Rights Reserved.">
    <title>Super Computer | 마이드라이브 | 국가 연구데이터 플랫폼 : DataON</title>

    <!-- 공통 CSS -->
    <link rel="stylesheet" href="../css/dist/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/dist/modal/jquery.modal.min.css">
    <!-- 서브 CSS -->
    <link rel="stylesheet" href="../css/sub.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- 공통 JS -->
    <!--[if lt IE 9]>
    <script src="../js/dist/jquery/html5.js"></script>
    <![endif]-->
    <script src="../js/dist/jquery/jquery-3.3.1.min.js"></script>
    <script src="../js/dist/jquery/jquery-ui.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/cmmn.js"></script>
    <script src="../js/dist/jquery/jquery.modal.min.js"></script>
    <!-- 서브 JS -->
    <script src="../js/sub.js"></script>
    <script src="../js/dist/jquery/jquery.bxslider.min.js"></script>

    <!-- fancytree -->
    <link rel="stylesheet" href="../css/dist/tree/ui.fancytree.css" />
    <script type="text/javascript" src="../js/dist/tree/jquery.fancytree.ui-deps.js"></script>
    <script type="text/javascript" src="../js/dist/tree/jquery.fancytree.js"></script>
    <script type="text/javascript" src="../js/dist/tree/jquery.fancytree.persist.js"></script>

    <!-- context menu -->
    <link rel="stylesheet" href="../css/dist/tree/jquery.contextMenu.css" />
    <script type="text/javascript" src="../js/dist/jquery/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="../js/dist/tree/jquery.fancytree.contextMenu.js"></script>

    <script type="text/javascript">
        $(function(){
            var FT = $.ui.fancytree;

            $("#tree1, #tree2").fancytree({
                checkbox: false,
                selectMode: 1,
                activate: function(event, data){
                    var node = data.node;
                    FT.debug("activate: event=", event, ", data=", data);
                    if(!$.isEmptyObject(node.data)){
                        alert("custom node data: " + JSON.stringify(node.data));
                    }
                },
                lazyLoad: function(event, data){
                    data.result = {url: "ajax-sub2.json"};
                }
            });

            $("#tree3, #tree4").fancytree({
                checkbox: true,
                selectMode:3,
                activate: function(event, data){
                    var node = data.node;
                    FT.debug("activate: event=", event, ", data=", data);
                    if(!$.isEmptyObject(node.data)){
                        alert("custom node data: " + JSON.stringify(node.data));
                    }
                },
                lazyLoad: function(event, data){
                    data.result = {url: "ajax-sub2.json"};
                }
            });
        });
    </script>
</head>
<body>
<div id="skip_nav">
    <a href="#main">본문으로 바로가기</a>
    <a href="#gnb">주메뉴 바로가기</a>
</div>
<div id="wrap">
    <header id="header_top">
        <div class="header_wrap">
            <h1 id="logo" class="myD_logo">
                <a href="#" class="logo_myD_do">
                    <img src="../images/layout/logo_myDrive_dataon.png" alt="데이터온">
                </a>
                <a href="#" class="logo_myD_my">
                    <img src="../images/layout/logo_myDrive_myd.png" alt="마이드라이브" >
                </a>
            </h1>
            <nav id="gnb" class="gnb">
                <h2 class="blind">전체메뉴</h2>
                <div class="mo_mem">
                    <!-- 로그인 전 -->
                    <!--<ul class="m_mem_list login">
                        <li><a href="#a">로그인</a></li>
                        <li><a href="#a" target="_blank" title="새창">EN</a></li>
                    </ul>-->

                    <!-- 로그인 후 -->
                    <strong class="name">홍길동님</strong>
                    <ul class="m_mem_list">
                        <li><a href="#a">마이페이지</a></li>
                        <li><a href="#a">로그아웃</a></li>
                        <li><a href="#a" target="_blank" title="새창">EN</a></li>
                    </ul>
                </div>
                <ul>

                    <li>
                        <a href="#a"><span>DataON</span></a>
                        <div class="sub">
                            <ul>

                                <li>
                                    <a href="#a">소개</a>
                                    <ul>
                                        <li><a href="#a">소개</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#a">분석서비스</a>
                                    <ul>
                                        <li><a href="#a">신청목록</a></li>
                                        <li><a href="#a">활용</a></li>
                                        <li><a href="#a">분석S/W마켓</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#a">호스팅서비스</a>
                                    <ul>
                                        <li><a href="#a">신청목록</a></li>
                                        <li><a href="#a">리포지터리관리</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#a">공유서비스</a>
                                    <ul>
                                        <li><a href="#a">공유목록</a></li>
                                        <li><a href="#a">신청목록</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#a">현황정보</a>
                                    <ul>
                                        <li><a href="#a">데이터현황</a></li>
                                        <li><a href="#a">활용현황</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </li>

                    <li>
                        <a href="#a"><span>검색</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브2-1</a></li>
                                <li><a href="#a">서브2-2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#a"><span>등록</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브3-1</a></li>
                                <li><a href="#a">서브3-2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#a"><span>서비스</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브4-1</a></li>
                                <li><a href="#a">서브4-2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#a"><span>커뮤니티</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브5-1</a></li>
                                <li><a href="#a">서브5-2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#a"><span>이슈&리서치</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브6-1</a></li>
                                <li>
                                    <a href="#a">서브6-2</a>
                                    <ul>
                                        <li><a href="#a">서브6-2-1</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <a href="#a" class="all_close"><span class="blind">전체메뉴 닫기</span></a>
                <div class="gnb_bg"></div>
            </nav>
            <div class="etc_menu">
                <!-- 로그인 전 -->
                <!--<ul class="link">
                    <li><a href="#a">로그인</a></li>
                    <li><a href="#a" target="_blank" title="새창">EN</a></li>
                </ul>-->

                <!-- 로그인 후 -->
                <ul class="link login">
                    <li>
                        <a href="#" class="new_notice">
                            <span>10+</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="login_user">
                            <img src="../images/layout/img_user_default.gif" alt="접속자">
                        </a>
                        <ul class="user_menu">
                            <li class="name"><strong>홍길동님</strong></li>
                            <li><a href="#a">마이페이지</a></li>
                            <li><a href="#a">EN</a></li>
                            <li><a href="#a">관리자</a></li>
                            <li><a href="#a">로그아웃</a></li>
                        </ul>
                    </li>
                </ul>

                <a href="#a" class="btn_total">
                    <p class="blind">전체메뉴</p>
                    <i class="bar1"></i>
                    <i class="bar2"></i>
                    <i class="bar3"></i>
                </a>
            </div>
        </div>
    </header>

    <main id="main">
        <div id="n_myDrive" class="n_myDrive">
            <!-- 모바일용 메뉴 펼침 버튼 -->
            <!--<a href="#" class="mo_myDmenu">My Drive 메뉴<span class="blind">열기</span></a>-->
            <div class="n_myDrive_left">
                <div class="myD_upload">
                    <a href="#fileUpload" class="file_upBtn" rel="modal:open">파일 업로드</a>
                </div>
                <div class="n_myDrive_menu">
                    <ul>
                        <li>
                            <a href="#" class="fav">Favorites</a>
                            <div class="subM">
                                <ul>
                                    <li><a href="#">내등록연구데이터</a></li>
                                    <li><a href="#">관심연구데이터</a></li>
                                    <li><a href="#">공유연구데이터</a></li>
                                    <li>
                                        <a href="#">커뮤니티</a>
                                        <ul>
                                            <li><a href="#">이겨내자 코로나!!(COVID...</a></li>
                                            <li><a href="#">위성데이터 분석 커뮤니티</a></li>
                                            <li><a href="#">CCTV 영상 분석</a></li>
                                            <li><a href="#">재난위험예측</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="file">Files</a>
                            <div class="subM">
                                <div class="file_tree">
                                    <div id="tree1" class="sampletree">
                                        <ul id="treeData">
                                            <li id="id1" class="folder">MyCanvas
                                                <div class="treeBtn_Box">
                                                    <a href="#myDl_5" class="treeBtn" rel="modal:open">+<span class="blind">추가</span></a>
                                                    <a href="#" class="treeBtn">-<span class="blind">제거</span></a>
                                                </div>
                                                <ul>
                                                    <li id="id1_1" class="folder">workflow
                                                        <ul>
                                                            <li id="id1_1_1" class="folder">Clone_Data_Canvas
                                                                <ul>
                                                                    <li id="id1_1_1_1">ImageTransfer_1</li>
                                                                    <li id="id1_1_1_2">Sub-item 1.1.2</li>
                                                                </ul>
                                                            </li>
                                                            <li id="id1_1_2">Sub-item 1.1.2</li>
                                                        </ul>
                                                    </li>
                                                    <li id="id1_2" class="folder">Sub-item 3.2
                                                        <ul>
                                                            <li id="id1_2_1">Sub-item 1.2.1</li>
                                                            <li id="id1_2_2">Sub-item 1.2.2</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li id="id2" class="folder">MyCommunities
                                                <ul>
                                                    <li id="id2_1" class="folder">Sub-item 2.1
                                                        <ul>
                                                            <li id="id2_1_1">Sub-item 2.1.1</li>
                                                            <li id="id2_1_2">Sub-item 2.1.2</li>
                                                        </ul>
                                                    </li>
                                                    <li id="id2_2" class="folder">Sub-item 4.2
                                                        <ul>
                                                            <li id="id2_2_1">Sub-item 2.2.1</li>
                                                            <li id="id2_2_2">Sub-item 2.2.2</li>
                                                            <li id="id2_2_3">Sub-item 2.2.2</li>
                                                            <li id="id2_2_4">Sub-item 2.2.2</li>
                                                            <li id="id2_2_5">Sub-item 2.2.2</li>
                                                            <li id="id2_2_6">Sub-item 2.2.2</li>
                                                            <li id="id2_2_7">Sub-item 2.2.2</li>
                                                            <li id="id2_2_8">Sub-item 2.2.2</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="sc on">Super Computer</a>
                        </li>
                    </ul>
                </div>
                <div class="myD_volume">
                    <ul>
                        <li class="use"><strong>11GB</strong>/1,000GB</li>
                        <li class="rest">잔여 : 989GB</li>
                    </ul>
                </div>
            </div>
            <div class="n_myDrive_content">
                <div class="myD_content">

                    <div class="superCom">
                        <div class="sC_topLogo">
                            <img src="../images/layout/logo.png" alt="데이터온">
                        </div>
                        <strong>Super Computer OTP 인증</strong>
                        <p>SuperComputer에서 발급받은 OTP 정보를 입력해주세요.<br>OTP가 없으시다면 발급을 신청해주세요.</p>

                        <div class="sC_certiBox">
                            <label for="certiNum">인증번호</label>
                            <div class="certi_inputBox">
                                <input type="text" name="certiNum" id="certiNum" maxlength="6" placeholder="인증번호를 입력해주세요" class="w100p">
                                <button type="button" class="btn_def black small">인증 후 연결하기</button>
                            </div>
                        </div>
                        <div class="sC_btn">
                            <a href="#" class="sCbtn_arrow">OTP 발급 신청</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 파일 업로드 레이어팝업 : s -->
            <div id="fileUpload" class="layer_def type2">
                <div class="layer_content">
                    <h2 class="title">파일 업로드</h2>
                    <div class="myD_fileUp_wrap">
                        <div class="myDfu_box">
                            <div class="myDfu_up">
                                <!-- 파일 업로드 영역 -->
                            </div>
                            <div class="myDfu_tree">
                                <div class="myDfu_scroll">
                                    <div class="file_tree">
                                        <div id="tree4" class="sampletree">
                                            <ul id="treeData4" class="ui-fancytree-source fancytree-helper-hidden">
                                                <li id="id8" class="folder">MyCanvas
                                                    <div class="treeBtn_Box">
                                                        <a href="#myDl_5" class="treeBtn" rel="modal:open">+<span class="blind">추가</span></a>
                                                        <a href="#" class="treeBtn">-<span class="blind">제거</span></a>
                                                    </div>
                                                    <ul>
                                                        <li id="id8_1" class="folder">workflow
                                                            <ul>
                                                                <li id="id8_1_1" class="folder">Clone_Data_Canvas
                                                                    <ul>
                                                                        <li id="id8_1_1_1">ImageTransfer_1</li>
                                                                        <li id="id8_1_1_2">Sub-item 1.1.2</li>
                                                                    </ul>
                                                                </li>
                                                                <li id="id8_1_2">Sub-item 1.1.2</li>
                                                            </ul>
                                                        </li>
                                                        <li id="id8_2" class="folder">Sub-item 3.2
                                                            <ul>
                                                                <li id="id8_2_1">Sub-item 1.2.1</li>
                                                                <li id="id8_2_2">Sub-item 1.2.2</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="id9" class="folder">MyCommunities
                                                    <ul>
                                                        <li id="id9_1" class="folder">Sub-item 2.1
                                                            <ul>
                                                                <li id="id9_1_1">Sub-item 2.1.1</li>
                                                                <li id="id9_1_2">Sub-item 2.1.2</li>
                                                            </ul>
                                                        </li>
                                                        <li id="id9_2" class="folder">Sub-item 4.2
                                                            <ul>
                                                                <li id="id9_2_1">Sub-item 2.2.1</li>
                                                                <li id="id9_2_2">Sub-item 2.2.2</li>
                                                                <li id="id9_2_3">Sub-item 2.2.2</li>
                                                                <li id="id9_2_4">Sub-item 2.2.2</li>
                                                                <li id="id9_2_5">Sub-item 2.2.2</li>
                                                                <li id="id9_2_6">Sub-item 2.2.2</li>
                                                                <li id="id9_2_7">Sub-item 2.2.2</li>
                                                                <li id="id9_2_8">Sub-item 2.2.2</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="myDfu_btn">
                                    <a href="#" class="btn_bigDef blue">선택폴더에 저장</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 파일 업로드 레이어팝업 : e -->

            <script>
                $(function(){
                    //좌측 메뉴 영역 리사이즈
                    $(".n_myDrive_left").resizable({
                        minWidth:266,
                        autoHide: true
                    });

                    //브라우저 리사이즈 할 경우 화면 높이 조정(푸터제외하고 헤더포함 전체화면 높이)
                    myD_left();
                    $(window).resize(function(){
                        myD_left();
                    });

                    myDrive_menu(".n_myDrive_menu>ul"); //마이드라이브 메뉴
                });
            </script>
        </div>
    </main>

    <!-- 푸터 섹션 : s -->
    <footer id ="footer">
        <div class="footer_wrap">
            <div class="footer_logo">
                <img src="../images/layout/footer_logo.png" alt="데이터온">
            </div>
            <div class="footer_content">
                <ul class="fnb">
                    <li><a href="#a">이용약관</a></li>
                    <li><a href="#a">개인정보처리방침</a></li>
                    <li><a href="#a">기관소개</a></li>
                </ul>
                <address>(우)34141 대전광역시 유성구 대학로 245 한국과학기술정보연구원. <span>문의메일 : <a href="mailto:dataon@kisti.re.kr">dataon@kisti.re.kr</a></span></address>
                <p class="copyright">COPYRIGHT@2019 KISTI. ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </footer>
    <!-- 푸터 섹션 : e -->
</div>
</body>
</html>