<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no,email=no,address=no">
    <meta name="apple-mobile-web-app-title" content="Research Data Platform">
    <meta name="robots" content="noindex">
    <meta name="title" content="국가 연구데이터 플랫폼">
    <meta name="keywords" content="국가 연구데이터 플랫폼">
    <meta name="description" content="사이트 설명">
    <meta name="copyright" content="Copyright@2019  DataON. All Rights Reserved.">
    <title>중국인 여성 지원자(CN-F-013)의 하지 부분에 대한 CT, MRI 영상과 3차원 뼈대 모델 | 데이터셋 | 검색 | 데이터 | 국가 연구데이터 플랫폼 : DataON</title>

    <!-- 공통 CSS -->
    <link rel="stylesheet" href="../css/dist/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/dist/modal/jquery.modal.min.css">
    <!-- 서브 CSS -->
    <link rel="stylesheet" href="../css/sub.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- 공통 JS -->
    <!--[if lt IE 9]>
    <script src="../js/dist/jquery/html5.js"></script>
    <![endif]-->
    <script src="../js/dist/jquery/jquery-3.3.1.min.js"></script>
    <script src="../js/dist/jquery/jquery-ui.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/cmmn.js"></script>
    <script src="../js/dist/jquery/jquery.modal.min.js"></script>
    <!-- 서브 JS -->
    <script src="../js/sub.js"></script>
    <script src="../js/dist/jquery/jquery.bxslider.min.js"></script>
</head>
<body>
<div id="skip_nav">
    <a href="#main">본문으로 바로가기</a>
    <a href="#gnb">주메뉴 바로가기</a>
</div>
<div id="wrap">
    <header id="header_top">
        <div class="header_wrap">
            <h1 id="logo"><a href="/index.jsp"><img src="../images/layout/logo.png" alt="데이터온"></a></h1>
            <nav id="gnb" class="gnb">
                <h2 class="blind">전체메뉴</h2>
                <div class="mo_mem">
                    <!-- 로그인 전 -->
                    <!--<ul class="m_mem_list login">
                        <li><a href="#a">로그인</a></li>
                        <li><a href="#a" target="_blank" title="새창">EN</a></li>
                    </ul>-->

                    <!-- 로그인 후 -->
                    <strong class="name">홍길동님</strong>
                    <ul class="m_mem_list">
                        <li><a href="#a">마이페이지</a></li>
                        <li><a href="#a">로그아웃</a></li>
                        <li><a href="#a" target="_blank" title="새창">EN</a></li>
                    </ul>
                </div>
                <ul>

                    <li>
                        <a href="#a"><span>DataON</span></a>
                        <div class="sub">
                            <ul>

                                <li>
                                    <a href="#a">소개</a>
                                    <ul>
                                        <li><a href="#a">소개</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#a">분석서비스</a>
                                    <ul>
                                        <li><a href="#a">신청목록</a></li>
                                        <li><a href="#a">활용</a></li>
                                        <li><a href="#a">분석S/W마켓</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#a">호스팅서비스</a>
                                    <ul>
                                        <li><a href="#a">신청목록</a></li>
                                        <li><a href="#a">리포지터리관리</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#a">공유서비스</a>
                                    <ul>
                                        <li><a href="#a">공유목록</a></li>
                                        <li><a href="#a">신청목록</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#a">현황정보</a>
                                    <ul>
                                        <li><a href="#a">데이터현황</a></li>
                                        <li><a href="#a">활용현황</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </li>

                    <li>
                        <a href="#a"><span>검색</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브2-1</a></li>
                                <li><a href="#a">서브2-2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#a"><span>등록</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브3-1</a></li>
                                <li><a href="#a">서브3-2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#a"><span>서비스</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브4-1</a></li>
                                <li><a href="#a">서브4-2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#a"><span>커뮤니티</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브5-1</a></li>
                                <li><a href="#a">서브5-2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#a"><span>이슈&리서치</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브6-1</a></li>
                                <li>
                                    <a href="#a">서브6-2</a>
                                    <ul>
                                        <li><a href="#a">서브6-2-1</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <a href="#a" class="all_close"><span class="blind">전체메뉴 닫기</span></a>
                <div class="gnb_bg"></div>
            </nav>
            <div class="etc_menu">
                <!-- 로그인 전 -->
                <!--<ul class="link">
                    <li><a href="#a">로그인</a></li>
                    <li><a href="#a" target="_blank" title="새창">EN</a></li>
                </ul>-->

                <!-- 로그인 후 -->
                <ul class="link login">
                    <li>
                        <a href="#" class="new_notice">
                            <span>10+</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="login_user">
                            <img src="../images/layout/img_user_default.gif" alt="접속자">
                        </a>
                        <ul class="user_menu">
                            <li class="name"><strong>홍길동님</strong></li>
                            <li><a href="#a">마이페이지</a></li>
                            <li><a href="#a">EN</a></li>
                            <li><a href="#a">관리자</a></li>
                            <li><a href="#a">로그아웃</a></li>
                        </ul>
                    </li>
                </ul>

                <a href="#a" class="btn_total">
                    <p class="blind">전체메뉴</p>
                    <i class="bar1"></i>
                    <i class="bar2"></i>
                    <i class="bar3"></i>
                </a>
            </div>
        </div>
    </header>

    <aside id="quick">
        <h2 class="blind">퀵메뉴</h2>
        <a href="#a" class="quick_btn">QUICK LINK <span class="blind">열기</span></a>
        <div class="quick_menu">
            <ul>
                <li>
                    <a href="/intro/intro03.do">
                        <img src="../images/layout/icon_quick_1.png" alt="">
                        <span>사용자 가이드</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/layout/icon_quick_2.png" alt="">
                        <span>마이 드라이브</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/layout/icon_quick_3.png" alt="">
                        <span>분석 플랫폼</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/layout/icon_quick_4.png" alt="">
                        <span>Open API</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/layout/icon_quick_5.png" alt="">
                        <span>FAQ</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/layout/icon_quick_6.png" alt="">
                        <span>커뮤니티</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>


    <!-- 서브 상단(visual, location) : s -->
    <div id="sub_top">

        <section class="visual">
            <h2 id="sub_title">데이터 등록</h2>
        </section>

        <!-- menu navigation -->
        <section class="location">
            <div class="container">
                <form name="headerFrmname" id="headerFrmname" method="post">
                    <input type="hidden" name="mm" id="mm" value="MENU_00102">
                    <input type="hidden" name="sm" id="sm" value="MENU00144">
                    <input type="hidden" name="subFirstMenuId" id="subFirstMenuId" value="MENU00144">
                    <div class="loc_row">
                        <ul class="location_list">
                            <li class="home">
                                <a href="/main.do">
                                    <i class="xi-home"></i> <span class="blind">HOME</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <span>등록</span>
                            </li>
                            <li class="dropdown">
                                <span>데이터등록</span>
                            </li>
                        </ul>
                        <ul class="location_etc">
                            <li>
                                <a href="#" title="공유하기" class="share"><span class="blind">공유하기</span></a>
                            </li>
                            <li>
                                <a href="#" title="프린트하기" class="print"><span class="blind">프린트하기</span></a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </section>

        <!-- 검색 : s -->
        <aside id="total_search">
            <a href="#" class="search_btn on"><span>SEARCH</span></a>
            <div class="search_wrap">
                <div class="container">
                    <fieldset>
                        <legend>통합검색</legend>
                        <ul class="totSch_tab">
                            <li>
                                <div class="totSch_item">
                                    <input type="radio" name="searchType" id="searchType1">
                                    <label for="searchType1">일반검색</label>
                                </div>
                            </li>
                            <li>
                                <div class="totSch_item">
                                    <input type="radio" name="searchType" id="searchType2" checked>
                                    <label for="searchType2">상세검색</label>
                                </div>
                            </li>
                            <li>
                                <div class="totSch_item">
                                    <input type="radio" name="searchType" id="searchType3">
                                    <label for="searchType3">MAP 검색</label>
                                </div>
                            </li>
                        </ul>
                        <div class="totSch_input">
                            <label for="integratedSearchInput" class="blind">통합검색</label>
                            <input type="text" name="search_input" id="integratedSearchInput" title="검색어를 입력하세요." placeholder="통합검색">
                            <button type="button" class="totSch_btn"><span class="blind">검색하기</span></button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </aside>
        <!-- 검색 : e -->
    </div>
    <!-- 서브 상단(visual, location) : e -->

    <main id="main">
        <div class="container">
            <div id="content">
                <!-- 컨텐츠 입력 : s -->

                <!-- 통합검색 : s -->
                <div class="totSch">
                    <div class="result_detail">
                        <div class="rstDetail_top clear">
                            <div class="left">
                                <a href="#a" class="btn_def black">목록으로</a>
                                <a href="#errorModal" class="btn_def blue" rel="modal:open">오류신고</a>
                                <!-- 과제정보 모달 : s -->
                                <div id="errorModal" class="layer_def">
                                    <div class="layer_content">
                                        <strong class="title">오류신고</strong>

                                        <div class="rpt_Info">
                                            <dl class="rpt_row">
                                                <dt>데이터 정보</dt>
                                                <dd>
                                                    <table class="tbl type2">
                                                        <caption>오류신고를 진행 하실 데이터 정보를 담은 표입니다.</caption>
                                                        <colgroup>
                                                            <col style="width:23%">
                                                            <col>
                                                        </colgroup>
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row">제목(국문)</th>
                                                            <td class="text-left">중국인 여성 지원자(CN-F-013)의 하지 부분에 대한 CT, MRI 영상과 3차원 뼈대 모델</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">제목(영문)</th>
                                                            <td class="text-left">CT, MR Images and 3 Dimensional Bone Models of Chinese Female Volunteer's (CN-F-013) Lower Limb</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">저자</th>
                                                            <td class="text-left">곽대순;Dai-Soon Kwak</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">제공처</th>
                                                            <td class="text-left">한국지질자원연구원</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">리포지터리</th>
                                                            <td class="text-left">한국지질자원연구원</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </dd>
                                            </dl>

                                            <dl class="rpt_row">
                                                <dt>접수 정보</dt>
                                                <dd>
                                                    <table class="tbl type2">
                                                        <caption>오류신고 접수 정보를 담은 표이며, 메일주소, 오류내용을 입력합니다.</caption>
                                                        <colgroup>
                                                            <col style="width:23%">
                                                            <col>
                                                        </colgroup>
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row">아이디</th>
                                                            <td class="text-left">gg****kr</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><label for="emailAddr">메일주소</label></th>
                                                            <td class="text-left">
                                                                <input type="text" name="emailAddr" id="emailAddr" class="w100p">
                                                                <div class="info_box type2">
                                                                    <i class="xi-error"></i>
                                                                    <span>오류신고 접수시 처리결과를 메일로 보내드립니다. 정확한 메일주소를 확인해주세요.</span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><label for="error">오류내용</label></th>
                                                            <td class="text-left">
                                                                <ul class="bul_list">
                                                                    <li>개인정보 노출방지를 위해 개인정보 내용은 가급적 자제하여 주시기 바랍니다.</li>
                                                                    <li>일방적인 욕설 및 부정적인 내용 작성시 원작자의 판단에 따라 신고자에게 피해가 발생할 수
                                                                        	있습니다. 깨끗하고 청렴한 서비스 문화를 위해 필요한 정보만 기재해주시면 감사하겠습니다.</li>
                                                                </ul>
                                                                <textarea name="error" id="error" rows="4" class="w100p"></textarea>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                        <a href="#" class="btn_def blue modal_btn" rel="">접수하기</a>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rstDetail_box">
                            <div class="rstDetail_left">
                                <div class="rstDetail_row">
                                    <ul class="rst_category">
                                        <li>공개</li>
                                        <li>국내</li>
                                        <li>2020</li>
                                        <li>ZIP</li>
                                        <li>정보통신</li>
                                        <li>바이오</li>
                                    </ul>
                                    <strong>캡션명</strong>
                                    <h3 class="rstD_title">Morphology change of MDCK-SIAT cell in passage 3 after infection with A/HK 3rd P0</h3>
                                    <div class="rstD_content">
                                        <div class="text-center">
                                            <img src="../images/sub/img_sample0.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="rstDetail_row">
                                    <h4 class="rstD_title">연구보고서 정보</h4>
                                    <div class="table_wrap">
                                        <table class="tbl type2">
                                            <caption>연구보고서 정보를 담은 표로, 보고서명(국문), 보고서명(영문), 연구기관, 연구자 항목으로 구부되어 있습니다.</caption>
                                            <colgroup>
                                                <col style="width:9rem">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <th scope="row">제목(국문)</th>
                                                <td class="text-left">중국인 여성 지원자(CN-F-013)의 하지 부분에 대한 CT, MRI 영상과 3차원 뼈대 모델</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">제목(영문)</th>
                                                <td class="text-left">CT, MR Images and 3 Dimensional Bone Models of Chinese Female Volunteer's (CN-F-013) Lower Limb</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">저자</th>
                                                <td class="text-left">곽대순;Dai-Soon Kwak</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">제공처</th>
                                                <td class="text-left">한국지질자원연구원</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">리포지터리</th>
                                                <td class="text-left">한국지질자원연구원</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="rstDetail_right">
                                <ul class="rst_count type2">
                                    <li>
                                        <span>View</span>
                                        <strong>20</strong>
                                    </li>
                                </ul>

                                <dl class="rstD_info">
                                    <dt>DOI</dt>
                                    <dd>
                                        10.979.116275/1855
                                    </dd>
                                </dl>

                                <a href="#" class="rstD_btn" target="_blank" title="새창">전문보러가기</a>

                                <div class="share_wrap">
                                    <strong>공유하기</strong>
                                    <ul class="sns">
                                        <li>
                                            <a href="#">
                                                <img src="../images/sub/icon_sns_kakao.png" alt="카카오톡 공유하기">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="../images/sub/icon_sns_twt.png" alt="트위터 공유하기">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="../images/sub/icon_sns_fb.png" alt="페이스북 공유하기">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="../images/sub/icon_sns_blog.png" alt="블로그 공유하기">
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="share_mark">
                                        <li><a href="#"><img src="../images/ccby-nc-nd.png" alt="cc-by-nc-nd"></a></li>
                                        <li><a href="#"><img src="../images/sub/img_openlogo.jpg" alt="공공누리"></a></li>
                                        <!--<li><a href="#"><img src="../images/img_opentype01.png" alt="공공누리의 제1유형 - 출처표시"></a></li>
                                        <li><a href="#"><img src="../images/img_opentype02.png" alt="공공누리의 제2유형 - 출처표시+상업적 이용금지"></a></li>
                                        <li><a href="#"><img src="../images/img_opentype03.png" alt="공공누리의 제3유형 - 출처표시+변경금지"></a></li>
                                        <li><a href="#"><img src="../images/img_opentype04.png" alt="공공누리의 제4유형 - 출처표시+상업적 이용금지+변경금지"></a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="systemBtn_wrap">
                            <div class="sysBtn_left">
                                <a href="#" class="btn_def black">목록으로</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 통합검색 : e -->

                <!-- 컨텐츠 입력 : e -->
            </div>
        </div>
    </main>

    <!-- 푸터 섹션 : s -->
    <footer id ="footer">
        <div class="footer_wrap">
            <div class="footer_logo">
                <img src="../images/layout/footer_logo.png" alt="데이터온">
            </div>
            <div class="footer_content">
                <ul class="fnb">
                    <li><a href="#a">이용약관</a></li>
                    <li><a href="#a">개인정보처리방침</a></li>
                    <li><a href="#a">기관소개</a></li>
                </ul>
                <address>(우)34141 대전광역시 유성구 대학로 245 한국과학기술정보연구원. <span>문의메일 : <a href="mailto:dataon@kisti.re.kr">dataon@kisti.re.kr</a></span></address>
                <p class="copyright">COPYRIGHT@2019 KISTI. ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </footer>
    <!-- 푸터 섹션 : e -->
</div>
</body>
</html>