<table style="border-collapse:collapse; word-break:break-all;width: 800px; margin: 0 auto; background: #fff; color: #fff; border: 1px solid #E5E5E5" id="read_form_text" marginwidth="0" marginheight="0">
    <tbody>
        <tr style="background: #2483DB; height: 67px; line-height: 67px;">
            <td style="border: none;"><img style="padding-left: 30px;" src="../images/about/latter_icon.gif" alt="dataOn"></td>
            <td style="font-family:Montserrt,Malgun Gothic,dotum,Serif,Sans-Serif,Arial; float: right; padding-right: 31px;border: none;">Korea Open Research Data</td>
        </tr>
        <tr>
            <td style="letter-spacing: -.1rem; font-family:Montserrt,Malgun Gothic,dotum,Serif,Sans-Serif,Arial; color: #000; font-weight: 800; font-size: 1.75rem; text-align: center; padding-top: 82px; padding-bottom: 30px;" colspan="2">
                <b>DataON</b> 사용자 인증 알림
            </td>
        </tr>
        <tr>
            <td style="letter-spacing: -.1rem;background: #FAFAFA; text-align: center; margin: 0 auto; margin-bottom: 19px; padding-bottom:120px" colspan="2">
                <p style="font-family:Noto Sans,Malgun Gothic,dotum,Serif,Sans-Serif,Arial; color: #111111; text-align: center; margin: 0 auto; display: block; padding: 25px 0 19px;">DataON 에서 사용자 인증을 위해 보낸 인증번호입니다.</p>
                <p style="font-family:Noto Sans,Malgun Gothic,dotum,Serif,Sans-Serif,Arial; margin: 0; display: inline-block; color: #2483DB; border: 1px solid #CCCCCC; background: #fff; padding: 15px 72px;
                font-size: 1.375rem; letter-spacing: 0;">U175w2</p>
            </td>
        </tr>
    </tbody>
</table>
