<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">
    <meta name="title" content="국가연구데이터플랫폼서비스 DATA ON" />
    <meta name="description" content="국가연구데이터플랫폼서비스 DATA ON" />
    <meta name="keyword" content="국가연구데이터플랫폼서비스 DATA ON" />
    <meta name="author" content="국가연구데이터플랫폼서비스 DATA ON" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="국가연구데이터플랫폼서비스 DATA ON">
    <meta property="og:site_name" content="국가연구데이터플랫폼서비스 DATA ON">
    <meta property="og:description" content="국가연구데이터플랫폼서비스 DATA ON">
    <title>국가연구데이터플랫폼서비스 DATA ON</title>
    <!-- 공통 CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/dist/modal/jquery.modal.min.css">
    <!-- 메인 CSS -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/fullpage.css">
    <!-- 공통 JS -->
    <!--[if lt IE 9]>
    <script src="../js/dist/jquery/html5.js"></script>
    <![endif]-->
    <script src="../js/dist/jquery/jquery-3.3.1.min.js"></script>
    <script src="../js/dist/jquery/jquery-ui.min.js"></script>
    <script src="../js/menu.js"></script>
    <!-- 메인 JS -->
    <script src="../js/dist/jquery/fullpage.min.js"></script>
    <script src="../js/dist/jquery/jquery.bxslider.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/dist/jquery/jquery.modal.min.js"></script>
</head>
<body>
<div id="skip_nav">
    <a href="#container">본문으로 바로가기</a>
    <a href="#gnb">주메뉴 바로가기</a>
</div>
<div id="wrap">
    <header id="header_top">
        <div class="header_wrap">
            <h1 id="logo"><a href="/index.jsp"><img src="../images/layout/logo.png" alt="데이터온"></a></h1>
            <nav id="gnb" class="gnb">
                <h2 class="blind">전체메뉴</h2>
                <div class="mo_mem">
                    <!-- 로그인 전 -->
                    <!--<ul class="m_mem_list login">
                        <li><a href="#a">로그인</a></li>
                        <li><a href="#a" target="_blank" title="새창">EN</a></li>
                    </ul>-->

                    <!-- 로그인 후 -->
                    <strong class="name">홍길동님</strong>
                    <ul class="m_mem_list">
                        <li><a href="#a">마이페이지</a></li>
                        <li><a href="#a">로그아웃</a></li>
                        <li><a href="#a" target="_blank" title="새창">EN</a></li>
                    </ul>
                </div>
                <ul>

                    <li>
                        <a href="#a"><span>DataON</span></a>
                        <div class="sub">
                            <ul>

                                <li>
                                    <a href="#a">소개</a>
                                    <ul>
                                        <li><a href="#a">소개</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#a">분석서비스</a>
                                    <ul>
                                        <li><a href="#a">신청목록</a></li>
                                        <li><a href="#a">활용</a></li>
                                        <li><a href="#a">분석S/W마켓</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#a">호스팅서비스</a>
                                    <ul>
                                        <li><a href="#a">신청목록</a></li>
                                        <li><a href="#a">리포지터리관리</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#a">공유서비스</a>
                                    <ul>
                                        <li><a href="#a">공유목록</a></li>
                                        <li><a href="#a">신청목록</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#a">현황정보</a>
                                    <ul>
                                        <li><a href="#a">데이터현황</a></li>
                                        <li><a href="#a">활용현황</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </li>

                    <li>
                        <a href="#a"><span>검색</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브2-1</a></li>
                                <li><a href="#a">서브2-2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#a"><span>등록</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브3-1</a></li>
                                <li><a href="#a">서브3-2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#a"><span>서비스</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브4-1</a></li>
                                <li><a href="#a">서브4-2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#a"><span>커뮤니티</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브5-1</a></li>
                                <li><a href="#a">서브5-2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#a"><span>이슈&리서치</span></a>
                        <div class="sub">
                            <ul>
                                <li><a href="#a">서브6-1</a></li>
                                <li>
                                    <a href="#a">서브6-2</a>
                                    <ul>
                                        <li><a href="#a">서브6-2-1</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <a href="#a" class="all_close"><span class="blind">전체메뉴 닫기</span></a>
                <div class="gnb_bg"></div>
            </nav>
            <div class="etc_menu">
                <!-- 로그인 전 -->
                <!--<ul class="link">
                    <li><a href="#a">로그인</a></li>
                    <li><a href="#a" target="_blank" title="새창">EN</a></li>
                </ul>-->

                <!-- 로그인 후 -->
                <ul class="link login">
                    <li>
                        <a href="#modalNotice" class="new_notice" rel="modal:open">
                            <span class="blind">알림</span>
                            <span>10+</span>
                        </a>
                        <!-- 알림 모달 : s -->
                        <div id="modalNotice" class="layer_def mNotice">
                            <div class="layer_content">
                                <div class="mNotice_title">
                                    <strong class="title"><i class="xi-volume-up"></i>알림</strong>
                                    <div class="mNotice_btn">
                                        <button type="button" class="btn_def black">모두 읽음처리</button>
                                        <button type="button" class="btn_def blue">알림으로 이동</button>
                                    </div>
                                </div>

                                <div class="mNotice_list">
                                    <div class="list">
                                        <div class="mNotice_item">
                                            <span class="date">20-07-15</span><strong>[연구데이터]</strong>등록한 요청이 반려 되었습니다. 등록한 요청이 반려 되었습니다. 등록한 요청이 반려 되었습니다. 등록한 요청이 반려 되었습니다.
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="mNotice_item">
                                            <span class="date">20-07-15</span><strong>[연구데이터]</strong>등록요청하신 내용이 정상적으로 처리되었습니다.
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="mNotice_item">
                                            <span class="date">20-07-15</span><strong>[연구데이터]</strong>등록요청하신 내용이 정상적으로 처리되었습니다.
                                        </div>
                                    </div>

                                    <div class="moreWrap">
                                        <a href="#" class="mNotice_more">더보기 <i class="xi-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 알림 모달 : e -->
                    </li>
                    <li>
                        <a href="#" class="login_user">
                            <img src="../images/layout/img_user_default.gif" alt="접속자">
                        </a>
                        <ul class="user_menu">
                            <li class="name"><strong>홍길동님</strong></li>
                            <li><a href="#a">마이페이지</a></li>
                            <li><a href="#a">EN</a></li>
                            <li><a href="#a">관리자</a></li>
                            <li><a href="#a">로그아웃</a></li>
                        </ul>
                    </li>
                </ul>

                <a href="#a" class="btn_total">
                    <p class="blind">전체메뉴</p>
                    <i class="bar1"></i>
                    <i class="bar2"></i>
                    <i class="bar3"></i>
                </a>
            </div>
        </div>
    </header>

    <aside id="quick">
        <h2 class="blind">퀵메뉴</h2>
        <a href="#a" class="quick_btn">QUICK LINK <span class="blind">열기</span></a>
        <div class="quick_menu">
            <ul>
                <li>
                    <a href="/intro/intro03.do">
                        <img src="../images/layout/icon_quick_1.png" alt="">
                        <span>사용자 가이드</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/layout/icon_quick_2.png" alt="">
                        <span>마이 드라이브</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/layout/icon_quick_3.png" alt="">
                        <span>분석 플랫폼</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/layout/icon_quick_4.png" alt="">
                        <span>Open API</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/layout/icon_quick_5.png" alt="">
                        <span>FAQ</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/layout/icon_quick_6.png" alt="">
                        <span>커뮤니티</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <main id="container" class="main">
        <div id="main_Contents">
            <section class="section sec1" data-anchor="section1">
                <div class="sec1_top">
                    <div class="sec1_wrap">
                        <div class="sec1_mid">
                            <div class="inner">
                                <span class="smallTit">국가연구데이터플랫폼서비스 Data On</span>
                                <em class="title">새로운 <strong>연구문화</strong>를 만듭니다.</em>
                                <div class="mainSch">
                                    <fieldset>
                                        <legend>통합검색</legend>
                                        <ul class="totSch_tab">
                                            <li>
                                                <div class="totSch_item">
                                                    <input type="radio" name="searchType" id="searchType1">
                                                    <label for="searchType1">일반검색</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="totSch_item">
                                                    <input type="radio" name="searchType" id="searchType2" checked="">
                                                    <label for="searchType2">상세검색</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="totSch_item">
                                                    <input type="radio" name="searchType" id="searchType3">
                                                    <label for="searchType3">MAP 검색</label>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="totSch_input">
                                            <label for="integratedSearchInput" class="blind">통합검색</label>
                                            <input type="text" name="search_input" id="integratedSearchInput" title="검색어를 입력하세요." placeholder="통합검색">
                                            <button type="button" class="totSch_btn"><span class="blind">검색하기</span></button>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="sec1_midInfo">
                                <ul class="sec1_count">
                                    <li>
                                        <span>데이터셋</span>
                                        <strong>1,889,742</strong>
                                    </li>
                                    <li>
                                        <span>리포지터리</span>
                                        <strong>387</strong>
                                    </li>
                                    <li>
                                        <span>표/그림</span>
                                        <strong>1,513,677</strong>
                                    </li>
                                    <li>
                                        <span>연구주제분야</span>
                                        <strong>500</strong>
                                    </li>
                                    <li>
                                        <span>제공처</span>
                                        <strong>10</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner">
                    <div class="sec1_link">
                        <h2 class="title"><span>국가연구데이터플랫폼서비스</span> <span>Data On</span></h2>
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="icon">
                                        <div>
                                            <img src="../images/main/icon_sec1_01.png" alt="">
                                            <img src="../images/main/icon_sec1_01_ov.png" alt="">
                                        </div>
                                    </div>
                                    <strong>지구과학</strong>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="icon">
                                        <div>
                                            <img src="../images/main/icon_sec1_02.png" alt="">
                                            <img src="../images/main/icon_sec1_02_ov.png" alt="">
                                        </div>
                                    </div>
                                    <strong>순수과학</strong>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="icon">
                                        <div>
                                            <img src="../images/main/icon_sec1_03.png" alt="">
                                            <img src="../images/main/icon_sec1_03_ov.png" alt="">
                                        </div>
                                    </div>
                                    <strong>바이오</strong>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="icon">
                                        <div>
                                            <img src="../images/main/icon_sec1_04.png" alt="">
                                            <img src="../images/main/icon_sec1_04_ov.png" alt="">
                                        </div>
                                    </div>
                                    <strong>빅데이터</strong>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="icon">
                                        <div>
                                            <img src="../images/main/icon_sec1_05.png" alt="">
                                            <img src="../images/main/icon_sec1_05_ov.png" alt="">
                                        </div>
                                    </div>
                                    <strong>AI</strong>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="icon">
                                        <div>
                                            <img src="../images/main/icon_sec1_06.png" alt="">
                                            <img src="../images/main/icon_sec1_06_ov.png" alt="">
                                        </div>
                                    </div>
                                    <strong>딥러닝</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- 2번 섹션 : s -->
            <section class="section sec2" data-anchor="section2">
                <div class="sec2_visual">
                    <h2>DATA ON</h2>
                    <p>연구의 뿌리는 공유와 소통에 있습니다. 나눔과 공존의 연구문화 DataON</p>
                </div>
                <div class="inner">
                    <div class="section2_wrap">
                        <ul class="sec2_link">
                            <li>
                                <a href="#">
                                    <div class="item">
                                        <div>
                                            <img src="../images/main/img_sec2_item1.jpg" alt="">
                                            <div class="item_text">
                                                <div class="title">
                                                    <span>Data registration</span>
                                                    <strong>데이터 등록</strong>
                                                </div>
                                                <p>데이터 등록을 통해 많은<br>연구자들과 데이터를 공유해주세요.</p>
                                            </div>
                                            <i><span class="blind">더보기</span></i>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="item">
                                        <div>
                                            <img src="../images/main/img_sec2_item2.jpg" alt="">
                                            <div class="item_text">
                                                <div class="title">
                                                    <span>Data analysis</span>
                                                    <strong>데이터 분석</strong>
                                                </div>
                                                <p>인공지능 기반의 검색 서비스를<br>경험해 보세요.</p>
                                            </div>
                                            <i><span class="blind">더보기</span></i>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="item">
                                        <div>
                                            <img src="../images/main/img_sec2_item3.jpg" alt="">
                                            <div class="item_text">
                                                <div class="title">
                                                    <span>Repository Search</span>
                                                    <strong>리포지터리 검색</strong>
                                                </div>
                                                <p>데이터 등록을 통해 많은<br>연구자들과 데이터를 공유해주세요</p>
                                            </div>
                                            <i><span class="blind">더보기</span></i>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="sec2_data">
                            <div class="sec2_data_item">
                                <h3>인기데이터 <a href="#" class="more"><span class="blind">더보기</span></a></h3>
                                <ul>
                                    <li>
                                        <ul class="list">
                                            <li>
                                                <a href="#">
                                                    <span class="bg1">국 내</span>
                                                    <strong><span>Sewerage Construction Branc Departm...Sewerage Construction Branc Departm...</span></strong>
                                                    <i>2020</i>
                                                </a>
                                                <a href="#" class="btn_download" title="다운로드"><span class="blind">다운로드</span></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="bg2">해 외</span>
                                                    <strong><span>Sewerage Construction Branc Departm...</span></strong>
                                                    <i>2020</i>
                                                </a>
                                                <a href="#" class="btn_download" title="다운로드"><span class="blind">다운로드</span></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="bg1">국 내</span>
                                                    <strong><span>황철석 함유 암석시료</span></strong>
                                                    <i>2019</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list">
                                            <li>
                                                <a href="#">
                                                    <span class="bg1">국 내</span>
                                                    <strong><span>Sewerage Construction Branc Departm...</span></strong>
                                                    <i>2020</i>
                                                </a>
                                                <a href="#" class="btn_download" title="다운로드"><span class="blind">다운로드</span></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="bg2">해 외</span>
                                                    <strong><span>Sewerage Construction Branc Departm...</span></strong>
                                                    <i>2020</i>
                                                </a>
                                                <a href="#" class="btn_download" title="다운로드"><span class="blind">다운로드</span></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="bg1">국 내</span>
                                                    <strong><span>황철석 함유 암석시료</span></strong>
                                                    <i>2019</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list">
                                            <li>
                                                <a href="#">
                                                    <span class="bg1">국 내</span>
                                                    <strong><span>Sewerage Construction Branc Departm...</span></strong>
                                                    <i>2020</i>
                                                </a>
                                                <a href="#" class="btn_download" title="다운로드"><span class="blind">다운로드</span></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="bg2">해 외</span>
                                                    <strong><span>Sewerage Construction Branc Departm...</span></strong>
                                                    <i>2020</i>
                                                </a>
                                                <a href="#" class="btn_download" title="다운로드"><span class="blind">다운로드</span></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="bg1">국 내</span>
                                                    <strong><span>황철석 함유 암석시료</span></strong>
                                                    <i>2019</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="sec2_data_item">
                                <h3>최신데이터 <a href="#" class="more"><span class="blind">더보기</span></a></h3>
                                <ul>
                                    <li>
                                        <ul class="list">
                                            <li>
                                                <a href="#">
                                                    <span class="bg1">국 내</span>
                                                    <strong><span>Sewerage Construction Branc Departm...</span></strong>
                                                    <i>2020</i>
                                                </a>
                                                <a href="#" class="btn_download" title="다운로드"><span class="blind">다운로드</span></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="bg2">해 외</span>
                                                    <strong><span>Sewerage Construction Branc Departm...</span></strong>
                                                    <i>2020</i>
                                                </a>
                                                <a href="#" class="btn_download" title="다운로드"><span class="blind">다운로드</span></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="bg1">국 내</span>
                                                    <strong><span>황철석 함유 암석시료</span></strong>
                                                    <i>2019</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list">
                                            <li>
                                                <a href="#">
                                                    <span class="bg1">국 내</span>
                                                    <strong><span>Sewerage Construction Branc Departm...</span></strong>
                                                    <i>2020</i>
                                                </a>
                                                <a href="#" class="btn_download" title="다운로드"><span class="blind">다운로드</span></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="bg2">해 외</span>
                                                    <strong><span>Sewerage Construction Branc Departm...</span></strong>
                                                    <i>2020</i>
                                                </a>
                                                <a href="#" class="btn_download" title="다운로드"><span class="blind">다운로드</span></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="bg1">국 내</span>
                                                    <strong><span>황철석 함유 암석시료</span></strong>
                                                    <i>2019</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list">
                                            <li>
                                                <a href="#">
                                                    <span class="bg1">국 내</span>
                                                    <strong><span>Sewerage Construction Branc Departm...</span></strong>
                                                    <i>2020</i>
                                                </a>
                                                <a href="#" class="btn_download" title="다운로드"><span class="blind">다운로드</span></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="bg2">해 외</span>
                                                    <strong><span>Sewerage Construction Branc Departm...</span></strong>
                                                    <i>2020</i>
                                                </a>
                                                <a href="#" class="btn_download" title="다운로드"><span class="blind">다운로드</span></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="bg1">국 내</span>
                                                    <strong><span>황철석 함유 암석시료</span></strong>
                                                    <i>2019</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 2번 섹션 : e -->

            <!-- 3번 섹션 : s -->
            <section class="section sec3" data-anchor="section3">
                <div class="inner">
                    <div class="section3_wrap">
                        <div class="sec3_l">
                            <ul class="sec3_link">
                                <li>
                                    <a href="#a">
                                        <div class="sec3_box type1">
                                            <img src="../images/main/icon_sec3_link1.png" alt="">
                                            <strong>커뮤니티</strong>
                                            <p>함께 연구할 사람을 찾고 계신가요?</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#a">
                                        <div class="sec3_box type2">
                                            <img src="../images/main/icon_sec3_link2.png" alt="">
                                            <strong>사용자가이드</strong>
                                            <p>DataOn 이용이 처음이신가요?</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="sec3_latest">
                                <ul>
                                    <li>
                                        <a href="#" class="on"><span>공지사항</span></a>
                                        <div class="latest_content">
                                            <div class="latest_top">
                                                <a href="#">
                                                    <div>
                                                        <b>25</b>
                                                        <i>2020.06</i>
                                                    </div>
                                                    <strong>서비스 확장 및 안정화 작업에 따른 간헐적 서비스 중지</strong>
                                                    <p>국가연구데이터플랫폼 이용자여러분께 안내 말씀드립니다.
                                                        국가연구데이터플랫폼의 추가적인 서비스 확장 및 안정화, 국가연구데이터플랫폼의 추가적인 서비스 확장 및 안정화, 국가연구데이터플랫폼의 추가적인 서비스 확장 및 안정화</p>
                                                </a>
                                            </div>
                                            <ul class="list">
                                                <li><a href="#">[공지] 국가연구데이터플랫폼 웹서버 이중화 작업 공지 국가연구데이터플랫폼 웹서버 이중화 작업 공지<span>2020.06.23</span></a></li>
                                                <li><a href="#">[긴급공지] 서비스 일시 중지 및 기관이용자의 일시적 공지<span>2020.06.23</span></a></li>
                                                <li><a href="#">[KISTI NEWS] 대한민국 AI 강국 도약과제는…연구데이터...<span>2020.06.23</span></a></li>
                                                <li><a href="#">[KISTI NEWS] 국가연구데이터플랫폼 오픈…<span>2020.06.23</span></a></li>
                                            </ul>
                                            <a href="#" class="more"><span class="blind">더보기</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#"><span>교육자료</span></a>
                                        <div class="latest_content">
                                            <div class="latest_top">
                                                <a href="#">
                                                    <div>
                                                        <b>24</b>
                                                        <i>2020.06</i>
                                                    </div>
                                                    <strong>서비스 확장 및 안정화 작업에 따른 간헐적 서비스 중지</strong>
                                                    <p>국가연구데이터플랫폼 이용자여러분께 안내 말씀드립니다.
                                                        국가연구데이터플랫폼의 추가적인 서비스 확장 및 안정화, 국가연구데이터플랫폼의 추가적인 서비스 확장 및 안정화, 국가연구데이터플랫폼의 추가적인 서비스 확장 및 안정화</p>
                                                </a>
                                            </div>
                                            <ul class="list">
                                                <li><a href="#">[공지] 국가연구데이터플랫폼 웹서버 이중화 작업 공지<span>2020.06.23</span></a></li>
                                                <li><a href="#">[긴급공지] 서비스 일시 중지 및 기관이용자의 일시적 공지<span>2020.06.23</span></a></li>
                                                <li><a href="#">[KISTI NEWS] 대한민국 AI 강국 도약과제는…연구데이터...<span>2020.06.23</span></a></li>
                                                <li><a href="#">[KISTI NEWS] 국가연구데이터플랫폼 오픈…<span>2020.06.23</span></a></li>
                                            </ul>
                                            <a href="#" class="more"><span class="blind">더보기</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#"><span>데이터</span></a>
                                        <div class="latest_content">
                                            <div class="latest_top">
                                                <a href="#">
                                                    <div>
                                                        <b>26</b>
                                                        <i>2020.06</i>
                                                    </div>
                                                    <strong>서비스 확장 및 안정화 작업에 따른 간헐적 서비스 중지</strong>
                                                    <p>국가연구데이터플랫폼 이용자여러분께 안내 말씀드립니다.
                                                        국가연구데이터플랫폼의 추가적인 서비스 확장 및 안정화, 국가연구데이터플랫폼의 추가적인 서비스 확장 및 안정화, 국가연구데이터플랫폼의 추가적인 서비스 확장 및 안정화</p>
                                                </a>
                                            </div>
                                            <ul class="list">
                                                <li><a href="#">[공지] 국가연구데이터플랫폼 웹서버 이중화 작업 공지<span>2020.06.23</span></a></li>
                                                <li><a href="#">[긴급공지] 서비스 일시 중지 및 기관이용자의 일시적 공지<span>2020.06.23</span></a></li>
                                                <li><a href="#">[KISTI NEWS] 대한민국 AI 강국 도약과제는…연구데이터...<span>2020.06.23</span></a></li>
                                                <li><a href="#">[KISTI NEWS] 국가연구데이터플랫폼 오픈…<span>2020.06.23</span></a></li>
                                            </ul>
                                            <a href="#" class="more"><span class="blind">더보기</span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ul class="sec3_infoLink">
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="../images/main/img_sec3_logo1.jpg" alt="NTIS">
                                        <strong>국가 R&D 정보</strong>
                                        <span><i class="blind">바로가기</i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="../images/main/img_sec3_logo2.jpg" alt="KOAR 국가 오픈액세스 플랫폼">
                                        <strong>오픈엑세스논문정보</strong>
                                        <span><i class="blind">바로가기</i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="../images/main/img_sec3_logo3.jpg" alt="SCIENCE ON">
                                        <strong>과학기술정보</strong>
                                        <span><i class="blind">바로가기</i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sec3_r">
                            <a href="#">
                                <div class="sec3_video">
                                    <strong>데이터온 <span>홍보영상</span></strong>
                                    <p>함께 연구할 사람을 찾고 계신가요?</p>
                                    <i>
                                        <img src="../images/main/img_sec3_play.png" alt="">
                                    </i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 3번 섹션 : e -->

            <!-- 푸터 섹션 : s -->
            <footer id ="footer" class="footer section fp-auto-height fp-section fp-table active-start fp-completely"  data-anchor="section4">
                <div class="footer_rolling">
                    <div class="footer_rolling_wrap">
                        <ul>
                            <li>
                                <a href="http://school.gsdc.kr/" target="_blank" title="새창">
                                    <img src="../images/main/img_banner01.gif" alt="GSDC">
                                </a>
                            </li>
                            <li>
                                <a href="http://www.aihub.or.kr/" target="_blank">
                                    <img src="../images/main/img_banner02.gif" alt="AI HUB - AI OPEN INNOVATION HUB">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.msit.go.kr/web/main/main.do" target="_blank">
                                    <img src="../images/main/img_banner03.gif" alt="과학기술정보통신부">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.openaire.eu/" target="_blank">
                                    <img src="../images/main/img_banner04.gif" alt="OpenAIRE">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.kisti.re.kr/" target="_blank">
                                    <img src="../images/main/img_banner05.gif" alt="KISTI">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.ands.org.au/" target="_blank">
                                    <img src="../images/main/img_banner06.gif" alt="ARDC">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer_wrap">
                    <div class="footer_logo">
                        <img src="../images/layout/footer_logo.png" alt="데이터온">
                    </div>
                    <div class="footer_content">
                        <ul class="fnb">
                            <li><a href="#a">이용약관</a></li>
                            <li><a href="#a">개인정보처리방침</a></li>
                            <li><a href="#a">기관소개</a></li>
                        </ul>
                        <address>(우)34141 대전광역시 유성구 대학로 245 한국과학기술정보연구원. <span>문의메일 : <a href="mailto:dataon@kisti.re.kr">dataon@kisti.re.kr</a></span></address>
                        <p class="copyright">COPYRIGHT@2019 KISTI. ALL RIGHTS RESERVED.</p>
                    </div>
                </div>
            </footer>
            <!-- 푸터 섹션 : e -->
        </div>
        <div class="section_menu_wrap">
            <span class="blind">메인 영역별 컨텐츠 바로가기</span>
            <ul class="section_menu">
                <li data-menuanchor="section1" class="active"><a href="#section1">DATA</a></li>
                <li data-menuanchor="section2"><a href="#section2">SHARE</a></li>
                <li data-menuanchor="section3"><a href="#section3">BOARD</a></li>
            </ul>
        </div>
    </main>
</div>
</body>
</html>