@charset "utf-8";

@import url("../css/font/webfonts_NotoSansKR.css");
@import url("../css/font/webfonts_NanumSquare.css");
@import url("../css/font/webfonts_Montserrat.css");
@import url("../css/font/dingbat_xeicon.css");


*, *::before, *::after{-webkit-box-sizing:inherit;box-sizing:inherit}
html{overflow:hidden;overflow-y:auto;-webkit-box-sizing:border-box;box-sizing:border-box}

body { font-family:"Noto Sans KR", sans-serif; color:#555;letter-spacing:-0.05rem;font-weight:300;font-style: normal; font-size: 1rem;background: transparent; 
-webkit-text-size-adjust:  none; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; box-sizing: border-box; }


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	textarea, article,
	aside, canvas, details, embed, figure, figcaption, footer, header,
	hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
	video {
	margin: 0;
	padding: 0;
	border: 0;
}

form {
	display: unset;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600; /* letter-spacing:-0.5px; */
}

th {
	font-weight: 600;
}

address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

iframe[seamless] {
	display: block;
}

legend, hr, caption {
	visibility: hidden;
	font-size: 0;
	width: 0;
	height: 0;
	line-height: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

/* common */
img, button, input.type-image {
	border: 0 none;
}

label, input[type=button], input[type=submit] {
	cursor: pointer;
}

img {
	vertical-align: middle;
}

blockquote, q {
	quotes: none;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

input::-webkit-input-placeholder {
	color: #a2a2a2;
}

input:-ms-input-placeholder {
	color: #a2a2a2;
}

input:-moz-placeholder {
	color: #a2a2a2;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #fff inset;
	-webkit-text-fill-color: #363636;
}

input[type=button], button, input[type=submit] {
	cursor: pointer;
	/*font-family: 'Nanum Gothic';*/
}

input[type=text], input[type=password], input[type="number"], input[type="tel"],
	select, textarea {
	/*font-family: 'Nanum Gothic';*/
}


/* IE 10, 11의 네이티브 화살표 숨기기 */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

/* link */
a {
	box-sizing: border-box;
}
/**/
a, a:link {
	color: #363636;
	text-decoration: none !important;
}

a:hover {
	color: #363636;
	text-decoration: none ;
}

a:active {
	color: #363636;
	text-decoration: none !important;
}

a:focus {
	color: #363636;
	text-decoration: none !important;
}

a:visited {
	text-decoration: none !important;
}


a:link.typ1 {
	color: #e9e9e9!important;
	text-decoration: none !important;
}

a:hover.typ1 {
	color: #000!important;
	text-decoration: none ;
}


a:link.typ2 {
	color: #666;
	text-decoration: none !important;
}
a:hover.typ2{color: #666;background-color: #005d83;color: #fcfcfc;}



a:link.typ3 {
	color: #e4dabf!important;
	text-decoration: none !important;
}

a:hover.typ3 {
	color: #000!important;
	text-decoration: none ;
}



/* align */
.tal { text-align: left !important;}
.tac { text-align: center !important;}
.tar { text-align: right !important;}

/* padding */
.p0 { padding: 0 !important; }
.p5 { padding: 5px !important; }
.p10 { padding: 10px !important; }
.p20 { padding: 20px !important; }
.p30 { padding: 30px !important; }

.pt0 { padding-top: 0 !important; }
.pt5 { padding-top: 5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt30 { padding-top: 30px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }

.pr5 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr30 { padding-right: 30px !important; }
.pr40 { padding-right: 40px !important; }
.pr50 { padding-right: 50px !important; }

.pl5 { padding-left: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl30 { padding-left: 30px !important; }
.pl40 { padding-left: 40px !important; }
.pl50 { padding-left: 50px !important; }

.pb5 { padding-bottom: 5px !important; }
.pb8 { padding-bottom: 8px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb50 { padding-bottom: 50px !important; }

/* margin */
.m0auto{margin: 0 auto;}
.m0 { margin: 0 !important; }
.mt-40 { margin-top: -40px !important; }
.mt-25 { margin-top: -25px !important; }
.mt0 { margin-top: 0 !important; }
.mt2 { margin-top: 2px !important; }
.mt5 { margin-top: 5px !important; }
.mt8 { margin-top: 8px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.mt50 { margin-top: 50px !important; }
.mt54 { margin-top: 54px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }

.ml0 { margin-left: 0 !important; }
.ml3 { margin-left: 3px !important; }
.ml5 { margin-left: 5px !important; }
.ml8 { margin-left: 8px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml30 { margin-left: 30px !important; }
.ml40 { margin-left: 40px !important; }
.ml50 { margin-left: 50px !important; }

.mr3 { margin-right: 3px !important; }
.mr5 { margin-right: 5px !important; }
.mr8 { margin-right: 8px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr30 { margin-right: 30px !important; }
.mr40 { margin-right: 40px !important; }
.mr50 { margin-right: 50px !important; }

.mb-20 { margin-bottom: -20px !important; }
.mb0 { margin-bottom: 0 !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb90 { margin-bottom: 90px !important; }


/* width */
.w30 { width: 30px !important; }
.w50 { width: 50px !important; }
.w60 { width: 60px !important; }
.w80 { width: 80px !important; }
.w100 { width: 100px !important; }
.w110 { width: 110px !important; }
.w120 { width: 120px !important; }
.w130 { width: 130px !important; }
.w140 { width: 140px !important; }
.w150 { width: 150px !important; }
.w200 { width: 200px !important; }
.w250 { width: 250px !important; }
.w300 { width: 300px !important; }
.w400 { width: 400px !important; }
.w500 { width: 500px !important; }
.w800 { width: 800px !important; margin: 0 auto;}
.w1224 { width: 1140px !important;  margin: 0 auto;}

.w5p { width: 5% !important; }
.w10p { width: 10% !important; }
.w11p { width: 11% !important; }
.w12p { width: 12% !important; }
.w13p { width: 13% !important; }
.w14p { width: 14% !important; }
.w15p { width: 15% !important; }
.w16p { width: 16% !important; }
.w17p { width: 17% !important; }
.w18p { width: 18% !important; }
.w19p { width: 19% !important; }
.w20p { width: 20% !important; }
.w22p { width: 22% !important; }
.w24p { width: 24% !important; }
.w25p { width: 25% !important; }
.w26p { width: 26% !important; }
.w28p { width: 28% !important; }
.w30p { width: 30% !important; }
.w32p { width: 32% !important; }
.w34p { width: 34% !important; }
.w36p { width: 36% !important; }
.w38p { width: 38% !important; }
.w40p { width: 40% !important; }
.w42p { width: 42% !important; }
.w44p { width: 44% !important; }
.w46p { width: 46% !important; }
.w48p { width: 48% !important; }
.w49p { width: 49% !important; }
.w50p { width: 50% !important; }
.w52p { width: 52% !important; }
.w54p { width: 54% !important; }
.w56p { width: 56% !important; }
.w58p { width: 58% !important; }
.w60p { width: 60% !important; }
.w62p { width: 62% !important; }
.w64p { width: 64% !important; }
.w66p { width: 66% !important; }
.w68p { width: 68% !important; }
.w70p { width: 70% !important; }
.w72p { width: 72% !important; }
.w74p { width: 74% !important; }
.w76p { width: 76% !important; }
.w78p { width: 78% !important; }
.w80p { width: 80% !important; }
.w82p { width: 82% !important; }
.w84p { width: 84% !important; }
.w86p { width: 86% !important; }
.w88p { width: 88% !important; }
.w90p { width: 90% !important; }
.w92p { width: 92% !important; }
.w94p { width: 94% !important; }
.w96p { width: 96% !important; }
.w97p { width: 97% !important; }
.w98p { width: 98% !important; }
.w100p{ width: 100% !important; }
.wAuto{ width: auto !important; }

/* height */
.h20 { height: 20px !important; }
.h30 { height: 30px !important; }
.h50 { height: 50px !important; }
.h60 { height: 60px !important; }
.h80 { height: 80px !important; }
.h100 { height: 100px !important; }
.h110 { height: 110px !important; }
.h120 { height: 120px !important; }
.h130 { height: 130px !important; }
.h140 { height: 140px !important; }
.h150 { height: 150px !important; }
.h200 { height: 200px !important; }
.h230 { height: 230px !important; }
.h300 { height: 300px !important; }
.h400 { height: 400px !important; }
.h500 { height: 500px !important; }
.h600 { height: 600px !important; }
.h700 { height: 700px !important; }
.h100p { height: 100% !important; }



/* float */
.floatl { float: left; }
/*.floatc { float: center; }*/
.floatr { float: right; }
.clear { clear:both; }



/* position */
.relative { position: relative; }
.absolute { position: absolute; }



/* font size 20190812 */
.fsr12{font-size: 0.75rem;}
.fsr13{font-size: 0.813rem;}
.fsr14{font-size: 0.875rem;}
.fsr15{font-size: 0.94rem;}
.fsr16{font-size: 1rem;}
.fsr17{font-size: 1.0625rem;}
.fsr18{font-size: 1.125rem;}
.fsr20{font-size: 1.25rem;}
.fsr21{font-size: 1.3125rem;}
.fsr22{font-size: 1.375rem;}
.fsr24{font-size: 1.5rem;}
.fsr25{font-size: 1.563rem;}
.fsr27{font-size: 1.690rem;}
.fsr28{font-size: 1.75rem;}
.fsr30{font-size: 1.875rem;}
.fsr32{font-size: 2.0rem;}



/* font weight */
.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
.fw700 { font-weight: 700; }
.fw800 { font-weight: 800; }


/* font family */
/*.n_gothic { font-family: 'Nanum Gothic'; }*/


.noline { border-top: none; border-right: none; border-bottom: none; border-left: none; }

/* hand */
.hand { cursor: pointer; }

/* bdbox */
.bdbox { box-sizing: border-box; }


/* input */
input {/*line-height: 1rem*/; padding: 0 8px; margin-right:3px; background: #fff; border: 1px solid #ddd; box-sizing: border-box; }
input[type=file] {border:0}
select { height: 34px; line-height: 34px; padding: 0 32px 0 8px; background: #fff url('../images/common/sele_arrow.png') right center no-repeat; border: 1px solid #ddd;  }
select.select-placeholder ,select.select-placeholder option:first-child { color: #888;}
select.select-placeholder option { color: #333;}
textarea { display: inline; line-height: 20px; padding: 10px 8px; border: 1px solid #ddd; box-sizing: border-box; }
/*input[type="checkbox"] { display: inline-block; }
input[type="checkbox"] + label span { display: inline-block; width: 18px; height: 18px; margin: -2px 6px 0 0; vertical-align: middle; background: url('../images/common/common.png') left top no-repeat; }
input[type="checkbox"]:checked + label span { background-position: -18px top; }
input[type="radio"] { display: inline-block; }
input[type="radio"] + label span { display: inline-block; width: 18px; height: 18px; margin: -2px 10px 0 0; vertical-align: middle; background: url('../images/common/common.png') left -18px no-repeat; }
input[type="radio"]:checked + label span { background-position: -18px -18px; }
input[type="checkbox"] + label,
input[type="radio"] + label { cursor: pointer; }
input[type="checkbox"] + label strong,
input[type="radio"] + label strong { text-decoration: underline; font-weight: 700; }*/

/* input file 
input[type="file"] { display: none; }
.file_input { display: inline-block; }
.file_input label { display: inline-block; width: 100%; line-height: 32px; color: #777; background: #f6f6f6; padding: 0px 12px; text-align: center; vertical-align: middle; border: 1px solid #ddd; border-radius: 3px; box-sizing: border-box; cursor: pointer; }
.file_input label:hover { color: #765d95; background: #f1f1f1; }*/

/* 20200812 추가 */
address, em, i{font-style:normal}
img { max-width: 100%; border: 0 none; font-size: 0; vertical-align: middle; }
#skip_nav { position: absolute; left: 0; top: -1000px; width: 100%; height: 0px; z-index: 1000; line-height: 0px; font-size: 0px}
#skip_nav a { display: block; text-align: center; width: 100%; line-height: 0px; font-size: 0px}
#skip_nav a:focus, #skip_nav a:hover, #skip_nav a:active { position: absolute; left: 0px; top: 1000px; padding: 8px 0; display: block; height: 30px; background: #20262c; font-size: 12px; font-weight: bold; line-height: 18px; color: #fff; }
.blind{overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0 none; clip: rect(0, 0, 0, 0)}
@media (max-width: 1280px) { html { font-size:16px; } }
@media (max-width: 768px) { html { font-size:14px; } }
@media (max-width: 499px) { html {overflow-x: hidden;}}